<h2><%= title %></h2>
<app-<%= dasherize(name) %>-search-area
	[searchCondtion]="searchCondtion$ | async"
	(clickSearchEvent)="clickSearchHandler($event)"
></app-<%= dasherize(name) %>-search-area>
<app-<%= dasherize(name) %>-list-grid-control
	[currentPageSize]="currentPageSize"
	[checkedRows]="selectedRowIds$ | async"
  (clickAddEvent)="clickAddHandler()"
  (clickDelEvent)="clickDelHandler($event)"
  (changePageSizeEvent)="changePageSizeHandler($event)"
></app-<%= dasherize(name) %>-list-grid-control>
<app-<%= dasherize(name) %>-list-grid
	[loaded]="loaded$ | async"
	[loading]="loading$ | async"
	[gridDataList]="gridDataList$ | async"
	[gridState]="gridState$ | async"
	[checkedRows]="selectedRowIds$ | async"
	(girdStateChangeEvent)="girdStateChangeHandler($event)"
	(checkRowEvent)="checkRowHandler($event)"
	(checkAllEvent)="checkAllHandler($event)"
></app-<%= dasherize(name) %>-list-grid>